
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.app {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: pink;
    
}

.linkgroup{
    margin-top: 50vh;
    transform: translateY(-50%);
    background-color: pink;
}

.link {
    font-family: 'Dancing Script', sans-serif  ;
    color: white;
    border-radius: 1rem ;
    border: 2px solid white;
    width: 90%;
    height: 3rem;
    margin:auto;
    margin-bottom: 10%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    
}


.circle {
    border: solid 3px white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: black;

}

.pseudo{
    color: white;
    text-align: center;
    margin-bottom: 20%;
    font-weight: bold;
    font-size:1.2rem;
    margin-top: 2%;
   
}

a{
    text-decoration: none;
    color: white;
}

.resize {
    width: 10%;
    margin-right: 5%;
    margin-left: 20%;
}


@media only screen and (min-width: 600px) {
    .circle {
        border: solid 3px white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10%;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: black;
    
    }
    .link {
        height: 6rem;
        margin:auto;
        margin-bottom: 10%;
        font-size: 2.5rem;
    }

    .pseudo{
        margin-bottom: 10%;
        font-weight: bold;
        font-size:1.2rem;
        margin-top: 0%;
        font-size: 2rem;
       
    }

    .resize {
        width: 8%;
    }

    .circle{
        margin-bottom: 2%;
    }
  }

  @media only screen and (min-width: 1280px) {
    .app {
        width: 30vw;
        height: 100vh;
        overflow-y: hidden;
        background-color: pink;
        margin-left: 50%;
        transform: translateX(-50%);    
    }
    
  }

  
  @media (max-device-width: 1024px) and (orientation: landscape) {
    .app {     
        overflow-y: scroll;
    }

    .circle {
        margin-top: 30%;
        margin-bottom: 1%;
    }

    .pseudo{
       margin-top: 0%;
       margin-bottom: 10%;
    }

    .link {
        height: 7rem;
        margin:auto;
        margin-bottom: 10%;
        font-size: 3rem;
    }
    
  }